body{
    font-family:Arial, Helvetica, sans-serif ;
}
header {
    background-color: rgb(37, 6, 67);
    color: white;
    /* padding: 10px 0 10px 0; */
    display: flex;
    justify-content: space-between;
    height: 65px;
}


.search-bar {
   width: 50%;
   padding-left: 250px;
}
.navigation {
   padding: 25px 0;
}
.search-bar input[type="text"] {
    width: 80%;
    padding: 5px;
    margin: 13px;
    border-radius: 15px;
    height: 25px;
    
}
.logo{
display: flex;

}
p{
    color: white;
    margin: 0;
    padding-top: 25px;
    padding-left:0 ;
}

.navigation a {
    color: white;
    text-decoration: none;
    padding: 18px;
}
.logo img{
    width: 70px; 
}
.post-box {
    display: flex;
    flex-direction: column;
    height: 220px;
    width: 250px;
    display: inline-block;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgb(175, 172, 172);
    border-radius: 4px;
    transition: 0.5s;
    opacity: 1;
    border: 1px solid transparent;
    padding: 5px;
}
.pop-posts {
    padding: 0 50px;
    overflow: auto;
    white-space: nowrap;
}
.pop-posts img{
    width: 250px;
    height: 150px;
}
 a {
    color: white;
    text-decoration: none;
    padding: 18px;
   
}
button{
    
    background-color: blueviolet;
    border-radius: 20px;
    height: 30px;
    margin-right: 50px;
}
.creation button{
    margin-block-start: 200px;
}
h1 {
    padding-left: 50px;
    margin-top: 0;
}


.heading {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}